* {
  box-sizing: border-box;
}

body {
  padding: 60px 0 40px;
}

.additional-label {
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  width: fit-content;
  max-width: 300px;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
  margin: 0;
}

.amount-number {
  font-size: 14px;
}

.empty-vocabulary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  border: 1px solid #0000007a;
  padding: 10px;
  border-radius: 20px;
  max-width: 650px;
  margin: 0 auto;
}

.empty-vocabulary img {
  width: 45%;
  opacity: 0.4;
}

.empty-vocabulary p {
  text-align: center;
  width: 49%;
  font-size: 22px;
  opacity: .4;
}

@media only screen and (max-width: 768px) {
  .empty-vocabulary {
    width: 100%;
  }

  .empty-vocabulary p {
    width: 40%;
    font-size: 20px;
  }
}

.mini-popup {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background: linear-gradient(90deg, rgba(139, 198, 236, 1), rgb(88 156 199));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: translate(100%, 0);
  transition: all 0.3s ease-in-out;
}

.mini-popup.active {
  transform: translate(0, 0);
}

.mini-popup-content {
  text-align: center;
  background: #ffffffd6;
  padding: 30px;
  border-radius: 10px;
  min-width: 200px;
}

.close-mini-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 50px;
  color: #000;
  transition: color 0.3s ease;
  margin-right: 8px;
}

.delete-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.delete-button:hover {
  background-color: #ff7875;
}


#add-word-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#add-word-form input[type="text"],
#add-word-form button {
  flex-grow: 1;
  flex-basis: calc(50% - 10px);
  /* Adjust based on your actual gap and padding */
  padding: 10px;
  font-size: 1rem;
}

#add-word-form button {
  flex-basis: 100%;
  /* Button takes full width on all screens */
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#add-word-form input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 600px) {

  #add-word-form input[type="text"],
  #add-word-form button {
    flex-basis: 100%;
    /* Each item takes full width on small screens */
  }
}

.validation-message {
  min-height: 20px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 14px;
  opacity: 0;
  /* Изначально сообщение полностью прозрачное */
  transition: opacity 0.5s ease-in-out;
  font-weight: bold;
  /* Плавное изменение прозрачности */
}

.validation-message.show {
  opacity: 1;
  /* Полная видимость для анимации появления */
}

.validation-message.hide {
  opacity: 0;
  /* Возвращаем к полной прозрачности для анимации исчезновения */
}

body,
html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: rgb(139, 198, 236);
  background: linear-gradient(90deg, rgba(139, 198, 236, 1), rgba(139, 198, 236, 1));
  min-height: 100vh;
}

.container {
  display: none;
  align-items: center;
  flex-direction: column;
  width: 90%;
  padding: 20px 20px 30px;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(139, 198, 236, 1), rgba(139, 198, 236, 1));
}

.container h2 {
  margin-bottom: 40px;
}

.container.active {
  display: block;
}

.support-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000;
  /* Черный цвет кнопки */
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffdb;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  position: relative;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup,
.popup-add-new-word {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  animation: fadeIn 0.5s;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#topic-title-add-word {
  margin-bottom: 50px;
}

.popup-content {
  background: linear-gradient(90deg, rgba(139, 198, 236, 1), rgba(139, 198, 236, 1));
  padding: 15px;
  padding-bottom: 110px;
  width: 100%;
  height: 100%;
}


.close-button,
.close-button-container,
.close-button-form-2,
.close-button-form-3 {
  margin-right: 8px;
  font-size: 20px;
  /* Увеличение размера иконок */
}

.close-button-form-3 {
  top: 12px;

}

.grid-item i {
  margin-right: 8px;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 24px;
}

.close-button,
.close-button-container,
.close-button-form-2, 
.close-button-form-3 {
  float: right;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  top: 23px;
  right: 15px;
}

.word-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.word-item span:first-child {
  max-width: 100px;
  font-size: 14px;
  word-break: break-all;
  text-align: left;
  cursor: pointer;
}


.word-item span:nth-child(2) {
  font-size: 14px;
  word-break: break-all;
  max-width: 100px;
  text-align: left;
}

.toggle-translation {
  margin-left: 10px;
  font-size: 0.8em;
  /* Немного меньше, чтобы соответствовать контексту */
  margin: 5px 0;
  /* Добавляем отступы между кнопками */
  font-size: 0.7rem;
  /* Уменьшаем шрифт */
  padding: 5px;
  /* Уменьшаем размер кнопок */
}

.button:hover {
  background-color: #000;
  /* Черная заливка при наведении */
  color: #fff;
  /* Белый текст при наведении */
}

/* Эффект размытия для перевода */
.blur {
  filter: blur(5px);
}

.show-all-translations-btn {
  display: block;
  margin-left: auto;
  /* Выравнивание справа */
  margin-right: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.button {
  border: 2px solid #000;
  /* Черные границы */
  background-color: transparent;
  /* Без заливки */
  color: #000;
  /* Черный текст */
  padding: 5px 10px;
  /* Меньше паддинг */
  font-size: 0.8rem;
  /* Меньше по размеру */
  cursor: pointer;
  border-radius: 5px;
  /* Скругление углов */
  transition: background-color 0.3s ease;
}

.grid-item:hover,
.support-button:hover,
.close-button,
.close-button-container,
.close-button-form-2:hover,
.close-button-form-3:hover {
  opacity: 0.8;
  /* Ховер эффект */
}

h2 {
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 20px;
  background: #ffffff54;
  padding: 2px;
  border-radius: 8px;
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  color: black;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.pagination a:first-child,
.pagination a:last-child {
  color: black;
  background: transparent;
  border: none;
  display: flex;
  font-size: 20px;

}

.wrapper-global-button {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 6px;
}


.pagination a.disabled {
  display: none;
}

.pagination a:first-child.disabled,
.pagination a:last-child.disabled {
  display: flex;
  opacity: .3;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

[data-topic="Мої слова"] {
  background: #2196F3;
  color: white;
}

.add-word-btn {
  background: transparent;
  color: #000;
  padding: 10px 20px;
  /* Some padding */
  text-align: center;
  /* Centered text */
  text-decoration: none;
  /* No underline */
  display: inline-block;
  /* Get the button on the same line */
  font-size: 16px;
  /* Increase font size */
  cursor: pointer;
  /* Pointer/hand icon */
  border-radius: 8px;
  /* Rounded corners */
  margin-bottom: 20px;
  max-width: 170px;
  border: 1px solid black;
}

.add-word-btn .fas {
  margin-right: 5px;
  /* Space between icon and text */
}

.button-primary {
  background-color: white;
  /* White background */
  color: #000000;
  /* Blue text */
  padding: 14px 10px;
  /* Some padding */
  text-align: center;
  /* Centered text */
  text-decoration: none;
  /* No underline */
  display: inline-block;
  /* Get the button on the same line */
  font-size: 24px;
  /* Increase font size */
  cursor: pointer;
  /* Pointer/hand icon */
  border-radius: 14px;
  /* Large rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  margin-bottom: 20px;
  font-family: 'Montserrat';
  border: none;
  width: 100%;
}

#start-quiz-btn {
  width: 100%;

}

.button-primary:hover {
  background-color: #f0f8ff;
  /* Light blue background on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* Slightly larger shadow on hover */
}

.my-dictionary-btn .fas {
  margin-right: 5px;
  /* Space between icon and text */
}

.navigation-wrapper {
  display: flex;
  justify-content: left;
  flex-direction: column;
  max-width: 400px;
}

.main-navigation {
  display: flex;
  justify-content: center;
}



.navigation-item {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: black;
  margin-bottom: 24px;
  font-size: 24px;
  position: relative;
  align-items: center;

}

.navigation-item.unavailable:after {
  position: absolute;
  content: "( В розробці )";
  top: 100%;
  left: 0;
  z-index: 1;
  font-size: 12px;
}

.navigation-item.unavailable {
  opacity: .6;
}

.navigation-item:last-child {
  margin-bottom: 0;
}

#quiz-content h3 {
  margin: 29px 0;
  text-align: center;
}

.quiz-popup {
  display: none;
}


.correct {
  background-color: #28a745 !important;
}

.incorrect {
  background-color: #dc3545 !important;
}

.resultPopUP {
    background: white;
    border-radius: 10px;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: black !important;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(139, 198, 236, 1), rgba(139, 198, 236, 1));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#loader {
  width: 100px; /* Измените размер в соответствии с вашим логотипом */
  animation: pulse .8s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}


#progress {
  height: 20px;
  background-color: #3CB371;
}

#progress-bar {
  width: 70%;
  background-color: #e0e0e0;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  margin-top: -20%;
}

.fa-arrow-right:before {
  content: "→" !important;
}


.rating > input {
  display: none;
}

.rating > label {
  font-size: 40px;
  color: black; /* Исходный цвет звезд */
  cursor: pointer;
}

.rating > input:checked + label {
  color: orange; /* Цвет выбранных звезд */
}

#ratingPopup {
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}

#ratingForm {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}


#ratingForm .button-primary {
  margin-bottom: 0;
  margin-top: 10px;
  color: white;
  max-width: 40%;
  font-size: 14px;
  background: black;
}

.advise-1 {
  background: #d6ebfa;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  color: black;
  width: fit-content;
}

.advise-1  .my-words {
  display: none;
}

.advise-1[data-topic="Мої слова"]  .my-words {
  display: block;
}

.advise-1[data-topic="Мої слова"]  .global {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .popup-content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .container {
    max-width: 1200px;
    transform: translate(-50%, 0);
    left: 50%;
  }

  .grid-item:not(.my-dictionary-btn) {
    width: 49%;
  }

  .grid {
    justify-content: space-between;
  }

  #add-word-form {
    flex-direction: column;
  }

  #add-word-btn {
    max-width: 200px;
  }

  #add-word-form input[type="text"] {
    max-width: 700px;
    min-height: 50px;
  }

  #progress-bar {
    max-width: 600px;
  }

  #start-quiz-btn {
    max-width: 300px;
  }

  #quiz-popup {
    max-width: 1200px;
    transform: translate(-50%, 0);
    left: 50%;
  }

  .word-item span:nth-child(2) {
    font-size: 18px;
  }

  .word-item span:first-child {
    font-size: 18px;
  }

}
